html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  background-color: #000;
}

#main {
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  margin-top: 40px;
  padding: 30px;
}
#teamAndClock, .home, .quarter, .guest, .fouls-home, #shotClock, .fouls-guest {
  text-align: center;
}
.input, .textarea {
  border: 1px solid rgb(105, 105, 105);
  border-radius: 3px;
  font-size: 1.3em;
  padding: 1px 6px;
}
#clock {
  height: 100px;
  width: 180px;
  margin: auto;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 3px;
}
#clock span {
  font-size: 4.5em;
}
#secondRow {
  margin-top: 25px;
}
#thirdRow {
  margin-top: 25px;
}
/*.home, .guest {
  margin-top: 15px;
}
.quarter {
  font-size: 1.0em;
  margin-top: 20px;
}*/
/*#firstRow .col {
  padding: 10px;
}
#secondRow .col {
  padding: 10px;
}*/
.score {
  height: 90px;
  width: 80px;
  margin: auto;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 3px;
}
.fouls-input, .quarter-input {
  margin: auto;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 3px;
  width: 50px;
  height: 100px;
  font-size: 4.5em;
}
.fouls-text {
  font-size: 1.6em;
}
#shotClock {
  margin: auto;
  margin-top: 15px;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 3px;
  width: 80px;
  height: 80px; 
}
#clock, #shotClock, .fouls-input, .quarter-input, .score {
  color: red;
}
#footer {
  background-color: #000;
  padding: 10px 75px 10px 50px;
  text-align: right;
}

@media (min-width: 576px) {
  .input, .textarea {
    border: 1px solid rgb(105, 105, 105);
    border-radius: 3px;
    font-size: 2.3em;
    padding: 1px 6px;
  }
}
/*@media (min-width: 576px) {
  #__next {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 25px;
  }
  #main {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #000;
    margin: auto;
    padding: 10px;
  }
  #teamAndClock {
    text-align: center;
  }
  .input, .textarea {
    border: 1px solid rgb(105, 105, 105);
    border-radius: 3px;
    font-size: 2.5em;
    padding: 1px 6px;
  }
  #clock {
    height: 100px;
    width: 300px;
    margin: auto;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 3px;
    font-size: 4.5em;
  }
  .quarter {
    font-size: 1.2em;
    margin-top: 15px;
  }
  .quarter-input {
    padding-top: -5px;
  }
  .home, .guest, .quarter {
    text-align: center;
  }
  #firstRow .col {
    padding: 10px;
  }
  #secondRow .col {
    padding: 10px;
  }
  .score {
    height: 100px;
    width: 250px;
    margin: auto;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 3px;
  }
  #thirdRow {
    margin-top: 10px;
  }
  #thirdRow .col {
    padding: 10px;
  }
  .fouls-input, .quarter-input {
    margin: auto;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 3px;
    width: 100px;
    height: 100px;
  }
  .fouls-home, .fouls-guest, #shotClock {
    text-align: center;
  }
  .fouls-text {
    font-size: 1.3em;
  }
  #shotClock {
    margin: auto;
    margin-top: 15px;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 3px;
    width: 150px;
    height: 100px; 
  }
  #footer {
    padding: 10px;
    text-align: right;
  }
}*/