html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 50px;
}

/*
 * main div
 */
#main {
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #000;
  margin: auto;
  padding: 10px;
}
#teamAndClock {
  text-align: center;
}
.input, .textarea {
  border: 1px solid rgb(105, 105, 105);
  border-radius: 3px;
  font-size: 2.1em;
  padding: 1px 6px;
}
#clock {
  height: 100px;
  width: 200px;
  margin: auto;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 3px;
}
.home, .guest {
  text-align: center;
}
#firstRow .col {
  padding: 10px;
}
#secondRow .col {
  padding: 10px;
}
/*
 * footer
 */
#footer {
  padding: 10px;
  text-align: right;
}
@media (min-width: 576px) {
  
}